.locations{
   max-width:100vw;
   display: flex; 
   flex-direction:column;
   justify-content: space-evenly; 
   padding:15rem 0;
}

.location-header{
    font-size:6rem;
    text-transform:uppercase;
    color:rgb(255, 166, 0);
    text-shadow: 4.5px 4.5px rgb(143, 129, 73);
    padding: 3rem;
    padding-top:20rem;
    text-align: center;
    letter-spacing:0.5rem;
}

.location-gallery{
    display: flex;
    justify-content: space-evenly;
    height:100%;
    width:100%;
}

.location-image{
    height:32vh;
    width:50vh;
    transition-duration: 0.3s;
    @include laptop{
        height: 25vh;
        width:40vw;
        padding:3rem;
        margin:3rem;
    }
}

.location-text {
    background-color: white;
    font-family: "Cinzel", serif;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    transition-duration:0.3s;
    font-size:2rem;
    
}
.location-image:hover {
    transform: scale(1.1); 
    font-size:5rem;
}
.location-text:hover {
    transform: scale(1.1); 
}