.location{
   width:100%;
   height:95vh;
   display: flex; 
   flex-direction:column;
   justify-content: space-evenly; 
   padding:15rem 0;
}

.location-header{
    font-size:6rem;
    text-transform:uppercase;
    color:rgb(255, 166, 0);
    text-shadow: 4.5px 4.5px rgb(143, 129, 73);
    padding: 3rem;
    padding-top:20rem;
    text-align: center;
    letter-spacing:0.5rem;
}

.location-gallery{
    display: flex;
    justify-content: space-evenly;
    height:100%;
    width:100%;
}

.location-image{
    height:35vh;
    width:55vh;
    padding-right:3rem;
    padding-bottom: 10rem;
    border-radius: 5%;
    transition: 0.3s;
}

.location-text {
    background-color: white;
    font-family: "Cinzel", serif;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    transition: 0.3s;
}
.location-image:hover{
    transform: translateY(1rem) scale(1.1);
    border-radius: 0;
}
.location-text:hover {
    transform: translateY(-2rem) scale(1.1);
    font-size: 8rem;
    color: white;
}