.ramen-section{
    max-width:100vw;
}


.ramen-header{
    font-size:5rem;
    text-transform:uppercase;
    color:rgb(255, 136, 0);
    text-shadow: 4.5px 4.5px rgb(143, 129, 73);
    padding: 5rem;
    text-align: center;
    letter-spacing:0.5rem;
    @include laptop{
        font-size:3rem;
    }
    @include tablet{
        font-size:2rem;
    }
    @include phone{
        font-size:1.5rem;
        text-shadow: 2.5px 2.5px rgb(143,129,73)
      
}
.ramen-body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #212121;
  
}
.ramen-box{
  width: 1200px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
}
.ramen-card{
  position: relative;
  width: 27rem;
  height: 47rem;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  padding-right:5rem;
  font-family: 'Cinzel', serif;
  @include laptop{
    width:23rem;
    height:45rem;
  }
}
.ramen-card:before,
.ramen-card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.ramen-card:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.ramen-card:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.ramen-card .ramen-imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.ramen-card:hover .ramen-imgBx
{
  bottom: 80px;
}

.ramen-card .ramen-imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ramen-card .ramen-details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.ramen-card .ramen-details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: rgb(248, 152, 7);
 text-transform: uppercase;
} 

.ramen-card .ramen-details h2 span{
font-weight: 500;
font-size: 16px;
color: #ff5168;
display: block;
margin-top: 5px;
 } 

