.ramen-section{
    max-width:100vw;
}

.ramen-gallery{
 display: flex;
 flex-direction:row;
 justify-content: space-evenly;
 align-content: center;

}

.ramen-image{
 height:62vh;
 width:18vw;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly; 
 align-content:center;
 padding-right:10rem;
 padding-bottom: 5rem;
 @include laptop{
  height:25vh;
  width:12vh;
  padding-right:5rem;
 }

 @include tablet{

 }
 
 @include phone{
 height:20vh;
 width:12vh;
 padding-right:3rem;
 }

}

.ramen-image:hover{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

.ramen-header{
    font-size:6rem;
    text-transform:uppercase;
    color:rgb(255, 166, 0);
    text-shadow: 4.5px 4.5px rgb(143, 129, 73);
    padding: 3rem;
    text-align: center;
    letter-spacing:0.5rem;
    @include laptop{
        font-size:3rem;
      }
      @include tablet{
        font-size:4.5rem;
      }
      @include phone{
        font-size:1.5rem;
        text-shadow: 2.5px 2.5px rgb(143,129,73)
      }
}

