@import "_variables.scss";



.user-gallery{
    height:100vh;
    background-size: cover;
    background-position: center;
    @include laptop{
        height:100vh;
    }
}

.user-gallery-header{
    font-size:10rem;
    color:rgb(255, 196, 0);
    text-transform:uppercase;
    text-align: center; 
    padding: 5rem;
    letter-spacing: 1rem;
    text-shadow: 5px 5px rgb(90, 80, 35);
    @include phone{
        font-size:1rem;
    }
    @include tablet{
        font-size:3rem;
    }
    @include laptop{
        font-size:4rem;
    }
    @include desktop{
        font-size:10rem;
    }
}

.user-gallery-gallery{
    width:100%;
    align-items:left;
    margin:0 auto;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    @include laptop{
        height:60%;
        width:90%;
        
    }
}
 .user-gallery-image{
      width:70rem;
      height: 50rem;
    @include laptop{
         height: 40rem;
         width:auto;
    }
    @include phone{
        height:20rem;
        width:auto;
    }
}



.user-gallery-slide{
    width:90vh;
    height:80vh; 
    overflow:hidden;
    position:relative; 
}

.user-gallery-slide img{
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0;
    width: 100%; 
    height: auto;
    padding:3rem;
    
    @include laptop{
        width:auto;
        height:30vh;
    }
    @include tablet{
        width:auto;
        height:20vh;
    }
    @include phone{
        width:auto;
        height:10vh;
    }
}
// .user-gallery-slides{width:100%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative; }


@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.user-gallery-slide img:nth-child(5){animation-delay:0s;}
.user-gallery-slide img:nth-child(4){animation-delay:5s;}
.user-gallery-slide img:nth-child(3){animation-delay:10s;}
.user-gallery-slide img:nth-child(2){animation-delay:15s;}
.user-gallery-slide img:nth-child(1){animation-delay:20s;}

// .text-user{
//       position: absolute;
//       bottom: 40%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     text-align: center;
//     background-image: linear-gradient(
//       to right bottom, 
//       rgba(57,57,57, 0.5) , 
//         rgba(30,29,27, 0.5));
// }

.user-primary {
    color: rgb(240, 237, 59);
    text-transform: uppercase;
}

.user-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.7rem;
    font-family: 'Cinzel', serif;
}

.user-gallery-paragraph{
text-decoration-color: red;
}

