@import "_variables.scss";



.user-gallery{
    height:100vh;
    background-image:linear-gradient(
        to right bottom, 
        rgba(34, 33, 31, 0.5)), 
    url("../media/star.jpg");
    background-size: cover;
    background-position: center;
    @include laptop{
        height:90vh;
    }
}

.user-gallery-header{
    font-size:7rem;
    color:rgb(255, 196, 0);
    text-transform:uppercase;
    text-align: center; 
    padding: 3rem;
    @include phone{
        font-size:1rem;
    }
    @include tablet{
        font-size:3rem;
    }
    @include laptop{
        font-size:4rem;
    }
    @include desktop{
        font-size:5rem;
    }
}

.user-gallery-gallery{
    width:100%;
    // display:flex;
    // flex-direction: row;
    // justify-content:space-around;
    align-items:center;
    margin:0 auto;
    @include laptop{
        height:60%;
        width:90%;
        flex-direction:row;
    }
   .user-gallery-image{
      width:30rem;
      height: 20rem;
    //   padding:20rem;
        @include laptop{
         height: 10rem;
         width:auto;
    }
     }


}





