$colors: (
  primary: #45a29e,
  primary-light: #66fcf1,
  grey: #c5c6c7,
  primary-dark: #000000,
  black: rgb(0, 0, 0)
);

$phone:400px;
$tablet:600px;
$laptop:900px;
$desktop:1600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin phone {
  @media(max-width:#{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media(max-width:#{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media(max-width:#{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media(max-width:#{$desktop}) {
    @content;
  }
}