@import "_variables.scss";
@import "_usergallery.scss";
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Zhi Mang Xing', cursive;
  
}

body {
  background-color: color(black);
}

.header {
  position: relative;
  height: 100vh;
  background-position: top;
  background-size: cover;
  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    //text-shadow: 3px 3px 8px #111;
    font-weight: 700;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    .heading-primary-main {
      font-size: 18rem;
      text-shadow: 3px 3px #333;
      width: 80vw;
      letter-spacing: 1rem;
      text-align: center;
      margin: 0 auto;
      color: rgb(252, 164, 1);

      @include phone{
        font-size: 1rem;
        letter-spacing:1rem;
      }
      @include tablet {
        font-size: 4rem;
        letter-spacing: 1rem;
      }
      @include laptop {
        font-size: 10rem;
        letter-spacing: 2.2rem;
      }
    }

    .heading-primary-sub {
      font-size: 2rem;
      width: 80vw;
      margin: 0 auto;
      text-align: center;
      color: rgb(255, 1, 1);
      letter-spacing: 1rem;
      padding: 1rem;
      line-height: 4rem;
      font-style: italic;
      font-family: 'Cinzel', serif;
      @include phone{
        font-size:1rem;
      }
      @include laptop {
        font-size: 3rem;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-200rem);
  }
  100% {
    transform: translateX(0);
  }
}
