@import "_variables.scss";
@import "_usergallery.scss";
@import "_ramengallery.scss";
@import "_locationgallery.scss";
@import "_contactgallery.scss";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Zhi Mang Xing', cursive;
  
}

body {
  background-color: color(black);
}

.nav {
  font-family:'Cinzel', serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.6rem;
 
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  padding-right: 10rem;
}

.nav a {
  padding: .5em .7em;
  padding-bottom: 1rem;
  color: rgb(201, 184, 184);
  position: relative;
  text-decoration: none;
  font-size: 20px;
  @include laptop{
    font-size:1rem;
    padding:2rem;
   }
 
   @include tablet{
 
   }
   
   @include phone{
    font-size:0.5rem;
   }
 
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}

.header {
  position: relative;
  height: 100vh;
  background-position: top;
  background-size: cover;
 .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    width: 100vw;
    text-align: center;
    font-weight: 700;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    .heading-primary-main {
      font-size: 17rem;
      text-shadow: 4.5px 4.5px rgb(143, 129, 73);
      width: 80vw;
      letter-spacing: 1.15rem;
      text-align: center;
      margin: 0 auto;
      color: rgb(255, 153, 0);
    @include laptop{
        font-size: 17rem;
        
    }
     @include tablet{
        font-size: 13rem;
       
    }
    @include phone{
      font-size: 8rem;
       
    }
  
    }

    .heading-primary-sub {
      font-size: 1.5rem;
      width: 80vw;
      margin: 0 auto;
      text-align: center;
      color: rgb(255, 1, 1);
      letter-spacing: 1rem;
      padding: 1rem;
      line-height: 4rem;
      font-style: italic;
      font-family: 'Cinzel', serif;
      @include laptop{
        font-size:1.5rem;
        line-height:3rem;
        letter-spacing:0.5rem;
      }
      @include tablet{
        font-size:1.5rem;
        line-height:3rem;
        padding:1rem;
      }
      @include phone {
        font-size: .75rem;
        line-height:0.75rem;
        letter-spacing:0.5rem;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-200rem);
  }
  100% {
    transform: translateX(0);
  }
}

.header-image{
  width:70rem;
  height: 47rem;
  @include laptop{
      height: 47rem;
      width:70rem;
  }
  @include phone{
      height:20rem;
      width:50rem;
  }
}

